body{
    margin: 0;
    padding: 0;
  background-image:linear-gradient( rgba(15, 13, 20, 0.96),rgba(206, 16, 29, 0.5), black );
    
    
}
.navbar-brand > img{
    height: auto;
    width:11%;
    margin-left: 20px;
}
.navbar{
    position: ;
    overflow: hidden;
    margin-top: 0;
    width:100%;
   
    background-color:  rgb(102, 52, 55) !important;
    border:1px solid rgb(19, 18, 18);
    box-shadow: 4px 4px 3px black;
        top: 0;
        z-index: 100;
        position: fixed;
        
      }
      .nav-link{
        color:white !important;
        font-weight: bold ;
        width:auto;
        text-align: center;
        font-family: "Mr Dafaoe";
        font-size: 15px;
        color:white;
        background-image:linear-gradient(rgb(214, 8, 8),rgb(10, 10, 10)) !important; 
        border: 1px solid black !important;
        margin-right: 7px;
        border-radius: 25px;
        width:100px;
        
    
    }
.card{
    padding: 10px;
  margin: 20px;
  box-shadow: 4px 3px 5px rgb(41, 6, 6);
  border: 1px solid rgb(248, 76, 76);
  
    
   
}
.card-deck{
   margin-left: 20px;
   margin-right: 20px;
margin-top: 10px;
}
   div >h3{
       text-align: center;
       color:silver;
       background-color: rgba(0, 0, 0, 0.616);
       padding-top: 30px;
       padding-bottom: 30px;
       margin-top: 100px;

   }
   .btn{
    margin-bottom: 20px;
    margin-top: 30px;
    color:white;
    background-image:linear-gradient(rgb(214, 8, 8),rgb(10, 10, 10)) !important; 
    border: 1px solid black;
    width:200px;
    margin-left: 560px;
}
.end{
    background-color:rgb(109, 15, 15);
    color:rgb(235, 229, 229) ;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
    height: auto;
    box-shadow:3px 3px 3px 4px rgb(228, 208, 208);


}
.icons{
    text-align: right;
    
}
.icons .fa{padding: 10px;
    color: blue;
    font-size: 24px;

}
.foot{
    padding-top: 30px;
    margin-bottom: 20px;
}
.foot p{
    color:white;
}