body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient( rgba(15, 13, 20, 0.96),rgba(206, 16, 29, 0.5), black);
    
    
}
.navbar-brand > img{
    height: auto;
    width:11%;
    margin-left: 20px;
}
.navbar{
    position: ;
    overflow: hidden;
    margin-top: 0;
    width:100%;
   
    background-color:  rgb(102, 18, 24) !important;
    border:1px solid rgb(19, 18, 18);
    box-shadow: 4px 4px 3px black;
        top: 0;
        z-index: 100;
        position: fixed;
        
      }
      .nav-link{
        color:white !important;
        font-weight: bold ;
        width:auto;
        text-align: center;
        font-family: "Mr Dafaoe";
        font-size: 15px;
        color:white;
        background-image:linear-gradient(rgb(214, 8, 8),rgb(10, 10, 10)) !important; 
        border: 1px solid black !important;
        margin-right: 12px;
        border-radius: 25px;
        width:100px;
        
    
    }
    .top{
        margin-top:60px;
        margin-left: -4;
        
        
    }
    .slideup{
        height:300px;
        color: white;
        padding: 10px;
        padding-left: 30px !important;
        text-align: justify;
        word-spacing: 0.3px;
        letter-spacing: 0.1em;
        font-family: "Mr. Dafoe";
        font-size: 18px;
        padding-top: 30px !important;
        
      
    }
  
    .slideup span{
        padding-top: 20px;
        color: rgb(21, 223, 65);
    }
    .d-block{
        height:350px;
    }
    .heading{
        padding-left: 20px;
        margin-top: 80px;
        color: white;
        border-bottom: 1px solid rgb(133, 12, 12);
        font-family: "Mr. Dafoe";
     

    }
   
    .head1{
        margin-top:120px !important;
        color:white;
        border-bottom: 1px solid red;
    }
    
    
    .navbar-text{
        margin-right: 20px;
     
    }
    .navbar-toggler{
       background-color: rgb(201, 32, 32);
        
    }
    .icons{
        text-align: right;
        
    }
    .icons .fa{padding: 10px;
        color: blue;
        font-size: 24px;
    
    }
    .fa:hover{
        color: #C62828;
    }
    .end{
        background-color:rgb(109, 15, 15);
        color:white ;
        padding-top: 20px;
        padding-bottom: 1px;
        text-align: center;
        height: auto;
        font-size: 20px;
        box-shadow:3px 3px 3px 4px rgb(228, 208, 208);
    }
    .hr{
        padding-left: 20px;
    }
   
    .hr .d-block{
        margin-left: -4px;
        margin-top: 40px;
    }
    .foot{
        margin-top:100px;
        padding-top: 30px;
        margin-bottom: 10px;
        font-family: "Mr. Dafoe";
        color: white;
    }
    .foot p{
        color:silver;
        font-size: 18px;
    }